public/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/sounds/*.mp3 filter=lfs diff=lfs merge=lfs -text
public/fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
public/images/*.png filter=lfs diff=lfs merge=lfs -text
public/images/*.jpg filter=lfs diff=lfs merge=lfs -text
public/images/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/readme/*.png filter=lfs diff=lfs merge=lfs -text
public/readme/*.jpg filter=lfs diff=lfs merge=lfs -text
public/readme/*.jpeg filter=lfs diff=lfs merge=lfs -text
